.first{
    display: flex;
    flex-direction: column;
}
.header{
    height: 250px;
    width: 880px;
    background-color: rgb(224,189,167);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin: 20px auto;
}
.header .title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: auto 0;
    text-shadow: 4px 4px 4px black;
}

.content{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}
.block{
    height: 430px;
    width: 430px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
    transition: 1s;
}
.block:hover{
    scale: 1.25;
}

.flex-block{
    display: flex;
    flex-direction: column;
}

.description{
    background-color: rgb(176, 228, 148);
}
.career{
    background-color: rgb(207, 178, 217);
}
.tasks{
    background-color: rgb(225, 237, 134);
}
.vacancy{
    background-color: rgb(125, 142, 227);
}
.vacancies{
    margin: 10px 10px;
}



/* #AFAFAF - лучший серый цвет
/* #133 - лучший серый цвет
/* #AFAFAF - лучший серый цвет
/* #AFAFAF - лучший серый цвет
/* #AFAFAF - лучший серый цвет
/* #AFAFAF - лучший серый цвет
